<h1 class="heading">Welcome to the home page!</h1>
<br>
<h2 class="heading2">Communication is at the heart of e-commerce and community.</h2>
<br>
<p class="para1">We are providing the best products with the lowest price. </p>
<p class="para2">We are the automotive-specific-multi-seller online marketplace that aspires to provide buyers with the best buying experiences
     and sellerswith the best selling experience possible.</p>
<!--<img  class="image" src="../../../assets/images/bg-home.jpg"/> -->